<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a.button-link {
            text-decoration: none;
        }

        button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>username</th>
            <th>Email</th>
            <th>Actions</th>
           
            
        </tr>
        {% for t in result %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.username }}</td>
            <td>{{ t.email }}</td>
            <td>
               <a class="button-link" href="{{ path('updatea', {'id': t.id}) }}">
                    <button>Update</button>
                </a>
            
                <a class="button-link" href="{{ path('removea', {'id': t.id}) }}">
                    <button>Remove</button>
                </a>
            </td>
            
            
        </tr>
        {% endfor %}
        
    </table>
    <tr>
            <td colspan="4"></td>
            <td>
                <a class="button-link" href="{{ path('adda') }}">
                    <button>Add</button>
                </a>
            </td>
        </tr>
</body>
</html>
