<!DOCTYPE html>
<html>
<head>

    <title>Book List</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a.button-link {
            text-decoration: none;
        }

        button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Publication Date</th>
            <th>Published</th>
            <th>Category</th>
            <th>Author</th>
        </tr>
        {% set publishedCount = 0 %}
        {% set unpublishedCount = 0 %}
        {% for t in result %}
            <tr>
                <td>{{ t.title }}</td>
                <td>{{ t.Publisheddate|date('Y-m-d') }}</td>
                <td>{{ t.published ? '1' : '0' }}</td>
                <td>{{ t.category }}</td>
                <td>{{ t.author }}</td>
                {% if t.published %}
                    {% set publishedCount = publishedCount + 1 %}
                {% else %}
                    {% set unpublishedCount = unpublishedCount + 1 %}
                {% endif %}
                <td>
               <a class="button-link" href="{{ path('updatef', {'ref': t.ref}) }}">
                    <button>Update</button>
                </a>
            
                <a class="button-link" href="{{ path('removef', {'ref': t.ref}) }}">
                    <button>Remove</button>
                </a>
                <a class="button-link" href="{{ path('show', {'ref': t.ref}) }}">
                    <button>Show</button>
                </a>
            </td>
            </tr>
        {% endfor %}
    </table>
    <tr>
        <td colspan="4"></td>
        <td>
            <a class="button-link" href="{{ path('addf') }}">
                <button>Create new</button>
            </a>
        </td>
    </tr>
    {% if result is empty %}
        <p>No Books found</p>
    {% else %}
        <p>Number of Published Books: {{ publishedCount }}</p>
        <p>Number of Non-Published Books: {{ unpublishedCount }}</p>
    {% endif %}
</body>
</html>
