<!DOCTYPE html>
<html lang="en">
   
<!-- Mirrored from www.ingridkuhn.com/themes/unitedpetsbs5/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Jan 2024 14:07:04 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<head>
    <!-- Other head elements -->
    <meta name="csrf-token" content="{{ csrf_token('your_csrf_token_intention') }}">
</head>

      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- page title -->
      <title>United Pets</title>
      <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
      <!-- Font files -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700%7CMontserrat:400,500,600,700" rel="stylesheet">
      <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
      <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
      <!-- Fav icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- style CSS -->
      <link href="css/style.css" rel="stylesheet">
      <!-- plugins CSS -->
      <link href="css/plugins.css" rel="stylesheet">
      <!-- Colors CSS -->
      <link href="styles/maincolors.css" rel="stylesheet">
	  	  <!-- LayerSlider CSS -->
      <link rel="stylesheet" href="vendor/layerslider/css/layerslider.css">
<!-- Switcher Only -->
      <link rel="stylesheet" id="switcher-css" type="text/css" href="switcher/css/switcher.css" media="all" />
      <!-- END Switcher Styles -->

	        <!-- Demo Examples (For Module #3) -->
	  <link rel="alternate stylesheet" type="text/css" href="styles/maincolors.css" title="maincolors" media="all" />
      <link rel="alternate stylesheet" type="text/css" href="styles/tinypaws.css" title="tinypaws" media="all" />
	  <link rel="alternate stylesheet" type="text/css" href="styles/veterinarian.css" title="veterinarian" media="all" />
      <link rel="alternate stylesheet" type="text/css" href="styles/agility.css" title="agility" media="all" />
	   <link rel="alternate stylesheet" type="text/css" href="styles/superpet.css" title="superpet" media="all" />
	   <link rel="alternate stylesheet" type="text/css" href="styles/mymascot.css" title="mymascot" media="all" />
	   	   <link rel="alternate stylesheet" type="text/css" href="switcher/css/boxed.css" title="boxed" media="all" />
	   	   <link rel="alternate stylesheet" type="text/css" href="switcher/css/full.css" title="full" media="all" />
		   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76370337-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-76370337-2');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T7ZJPV8');</script>
<!-- End Google Tag Manager -->
   </head>
   <!-- ==== body starts ==== -->
           <!-- Start Switcher -->
      <div class="demo_changer">
       
         <!-- end opener icon -->
         <div class="form_holder text-center">
            <div class="row">
               <div class="col-lg-12">
                  <div class="predefined_styles">
				     <h5>Choose a Color Skin</h5>
                     <!-- MODULE #3 -->
                     <a href="maincolors.html" class="styleswitch"><img src="switcher/images/maincolors.png" alt="maincolors"></a>		
                     <a href="agility.html" class="styleswitch"><img src="switcher/images/agility.png" alt="agility"></a>		
                     <a href="veterinarian.html" class="styleswitch"><img src="switcher/images/veterinarian.png" alt="veterinarian"></a>
					  <a href="superpet.html" class="styleswitch"><img src="switcher/images/superpet.png" alt="superpet"></a>	
					 <a href="tinypaws.html" class="styleswitch"><img src="switcher/images/tinypaws.png" alt="tinypaws"></a>	
                     <a href="mymascot.html" class="styleswitch"><img src="switcher/images/mymascot.png" alt="mymascot"></a>	
                                 <h5 class="mt-4">Page Width</h5>
			   <form>
				<select id="nav-options" class="show-menu-arrow selectpicker" value="">
								<option value="full">Full Width</option>

				<option value="boxed">Boxed</option>
				
				</select>  
            </form>  
								 
	  </div>
				  				              <!-- Button -->	
				              <!-- Button -->	
               <a href="https://themeforest.net/item/united-pets-responsive-html5-template/23276071" class="btn btn-sm btn-secondary mt-4">BUY NOW</a>

               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end form_holder -->
      </div>
      <!-- end demo_changer -->
   <body id="top">
      <!-- Preloader  -->
      <div id="preloader">
         <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
               <div class="preloader-logo">
                  <!--logo -->
                  <img src="img/logo.png" alt="" class="img-fluid">
                  <!--preloader circle -->
                  <div class="lds-ring">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
               </div>
               <!--/preloader logo -->
            </div>
            <!--/row -->
         </div>
         <!--/container -->
      </div>
      <!--/Preloader ends -->
      <nav id="main-nav" class="navbar-expand-xl fixed-top">
            <!-- Start Top Bar -->
            <div class="container-fluid top-bar" >
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <!-- Start Contact Info -->
                        <ul class="contact-details float-start">
                           <li><i class="fa fa-map-marker"></i>ESPRIT,Ariana soghra.Tunis </li>
                           <li><i class="fa fa-envelope"></i><a href="mailto:email@site.com">unitedpets@gmail.com</a></li>
                           <li><i class="fa fa-phone"></i>28082700</li>
                        </ul>
                        <!-- End Contact Info -->
                        <!-- Start Social Links -->
                        <ul class="social-list float-end list-inline">
                           <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                           <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <!-- /End Social Links -->
                     </div>
                     <!-- col-md-12 -->
                  </div>
                  <!-- /row -->
               </div>
               <!-- /container -->
            </div>
            <!-- End Top bar -->
            <!-- Navbar Starts -->
<div class="navbar container-fluid">
    <div class="container">
        <!-- Logo -->
        <a class="nav-brand" >
            <img src="img/logo.png" alt="" class="img-fluid">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <!-- Home -->
                <li class="nav-item home-menu">
                    <a class="nav-link" href={{ path('app_home') }}>Home</a>
                </li>

                <!-- Animals -->
                <li class="nav-item">
                    <a class="nav-link" href={{ path('app_listAF') }}>Animals</a>
                </li>

                <!-- Pet Boarding -->
                <li class="nav-item">
                    <a class="nav-link" href={{ path('app_listBF') }}>Pet Boarding</a>
                </li>

                <!-- Products -->
                <li class="nav-item">
                    <a class="nav-link" href={{ path('app_listPF') }}>Products</a>
                </li>

                <!-- Donate -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="contact-dropdown" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Donate</a>
                    <div class="dropdown-menu pattern2" aria-labelledby="contact-dropdown">
                        <a class="dropdown-item" href={{ path('listDonationPFront') }}>Product donation</a>
                        <a class="dropdown-item" href={{ path('listDonationMFront') }}>Financial contributions</a>
                    </div>
                </li>
                {% if user.Role == 'user' %}
            <!-- User-specific items for 'user' role -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <!-- About -->
                <li class="nav-item">
                    <a class="nav-link" >About</a>
                </li>
            </li>
        {% elseif user.Role == 'veterinary' %}
            <!-- User-specific items for 'veterinary' role -->
            <li class="nav-item navbar-dropdown-veterinary dropdown-user dropdown">
              <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle"  id="contact-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Appointments
                           </a>
                           <div class="dropdown-menu pattern2" aria-labelledby="contact-dropdown">
                              <a  class="dropdown-item"  href={{ path('app_listApF') }}>Appointments</a>
                              <a  class="dropdown-item"  href={{ path('app_listRF') }}>Rapports</a>
            
                           </div>
                        </li>
            </li>
        {% endif %}
              
    

              

               <!-- User Dropdown -->
<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <!-- Display the user's name -->
        {{ user.Name }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="pages-account-settings-account.html">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <!-- You can add the user's profile picture here if available -->
                    </div>
                    <div class="flex-grow-1">
                        <!-- Display the user's name and role -->
                        <span class="fw-medium d-block">{{ user.Name }}</span>
                        <small class="text-muted">{{ user.Role }}</small>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item"href={{ path('testuser') }} >
                <i class="mdi mdi-account-outline me-2" ></i>
                <span class="align-middle">My Profile</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" target="_blank"href={{ path('logout') }}>
                <i class="mdi mdi-logout me-2" ></i>
                <span class="align-middle">Log Out</span>
            </a>
        </li>
    </ul>
</li>
<!--/ User Dropdown -->

            </ul>
        </div>
        <!-- Navbar Collapse -->
    </div>
    <!-- Container -->
</div>
<!-- Navbar -->
      </nav>
      <!-- /nav -->
<div class="jumbotron jumbotron-fluid">
         <div class="container" >
            <div class="jumbo-heading" data-aos="fade-up">
               <h1>Product</h1>
               <!-- Breadcrumbs -->
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href={{ path('app_home') }}>Home</a></li>
                    <li class="breadcrumb-item active"><a >Product</a></li>
                  </ol>
               </nav>
            </div>
         </div>
         <!-- /jumbo-heading -->
  </div>
    
{% block content %}
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" id="search" class="form-control" placeholder="Search here">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Label</th>
                <th>Expiration Date</th>
                <th>Category</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="t">
            {# Your products will be dynamically inserted here through JavaScript #}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var searchInput = document.getElementById('search');
            var tbody = document.getElementById('t');

            searchInput.addEventListener('keyup', function() {
                var value = searchInput.value;
                var xhr = new XMLHttpRequest();

                xhr.open('GET', "{{ path('search_result') }}?searchValue=" + encodeURIComponent(value), true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        updateTable(response);
                    }
                };

                xhr.send();
            });

            function updateTable(products) {
                tbody.innerHTML = '';

                if (products.length > 0) {
                    products.forEach(function(product) {
                        tbody.innerHTML += '<tr><td>' + product.productId + '</td><td>' + product.Product_Name + '</td>' +
                            '<td>' + product.Product_Quantity + '</td><td>' + product.Product_Label + '</td>' +
                            '<td>' + (product.Expiration_Date ? product.Expiration_Date : '') + '</td>' +
                            '<td>' + (product.Category_Key ? product.Category_Key.Product_Type : '') + '</td>' +
                            '<td>' + product.Product_Image + '</td>' ;
                    });
                } else {
                    tbody.innerHTML = '<tr><td colspan="8">no records found</td></tr>';
                }
            }
        });
    </script>
<div class="page container">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row invoice-add">
            <div class="col-lg-9 col-12 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-datatable table-responsive">
                        <div class="dt-action-buttons text-start mt-md-0 mt-3">
                            <div class="dt-buttons">
                                <a  >
                                    <span><i class="mdi mdi-plus me-md-1"></i><span class="d-md-inline-block d-none"></span></span>
                                </a>
                            </div>
                        </div>
                <td>
<a href="{{ path('triP', {'productType': 'food'}) }}" class="dt-button btn btn-primary waves-effect waves-light text-white" tabindex="0" aria-controls="DataTables_Table_0" type="button">Food</a>
                </td>
                                <td>
<a href="{{ path('triP', {'productType': 'Medical'}) }}" class="dt-button btn btn-primary waves-effect waves-light text-white" tabindex="0" aria-controls="DataTables_Table_0" type="button">Medical</a>

                </td>
                                <td>
<a href="{{ path('triP', {'productType': 'Hygienic'}) }}" class="dt-button btn btn-primary waves-effect waves-light text-white" tabindex="0" aria-controls="DataTables_Table_0" type="button">Hygienic</a>

                </td>
                      <table class="invoice-list-table table">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Category</th>
            <th>Image</th>
            <th>Rating</th>
            <th class="cell-fit">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in result %}
        <tr>
            <td>{{ product.getProductName() }}</td>
            <td>{{ product.getProductLabel() }}</td>
            <td>{{ product.getCategoryKey().getProductType() }}</td>
            <td>
                {% if product.getProductImage() %}
                    <img src="{{ asset('Product_images/' ~ product.getProductImage()) }}" alt="Product_Image" style="width: 250px; height: 250px; object-fit: cover;">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>
            <td>
<td>
    <div class="rating-stars" data-product-id="{{ product.productId }}">
        {% for i in 1..5 %}
            <i class="star fas fa-star text-warning" data-rating="{{ i }}"></i>
        {% endfor %}
    </div>
</td>
<style>
    .rating-stars {
        display: flex;
        cursor: pointer;
    }

    .star {
        margin-right: 5px;
        font-size: 24px;
        transition: transform 0.2s ease-in-out;
    }

    .star:hover {
        transform: scale(1.2); /* Increase the size on hover */
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.rating-stars .star');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;

        stars.forEach(star => {
            star.addEventListener('click', function () {
                const productId = this.closest('.rating-stars').dataset.productId;
                const rating = this.dataset.rating;

                // Send a request to your Symfony controller to handle the rating update
                fetch(`/update-rating/${productId}/${rating}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-Token': csrfToken, // Include CSRF token in headers
                    },
                    credentials: 'same-origin',  // Include credentials for same-origin requests
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Update the UI or handle success response
                    console.log('Rating updated successfully:', data);
                })
                .catch(error => {
                    console.error('Error updating rating:', error);
                });
            });
        });
    });
</script>


</td>

            </td>
            <td>
                <a class="dt-button btn btn-primary waves-effect waves-light text-white"
                   tabindex="0" aria-controls="DataTables_Table_0" type="button"
                   {% if product.getCategoryKey().getProductType() == 'food' %}
                       href="https://zanimo.tn/category/1/products"
                   {% elseif product.getCategoryKey().getProductType() == 'hygienic' %}
                       href="https://zanimo.tn/category/33/products"
                   {% else %}
                       href="https://zanimo.tn/category/31/products"
                   {% endif %}
                >See</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center align-items-center mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination">
  {{ knp_pagination_render(result) }}
        </ul>
    </nav>
</div>
{% endblock %}


	  <!-- ==== footer ==== -->
      <footer class="bg-light pattern1">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 text-center my-auto">
                  <img src="img/logo.png"  class="logo-footer img-fluid" alt="">
                  <!-- Start Social Links -->
                  <ul class="social-list text-center list-inline">
                     <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                     <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                     <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                  <!-- /End Social Links -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>About us</h5>
                  <!--divider -->
                  <hr class="small-divider left">
                  <p class="mt-3">At United Pets, we're a devoted team dedicated to the happiness and well-being of your pets. Trust us to provide exceptional care and lasting connections.</p>
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>Contact Us</h5>
                  <!--divider -->
                  <hr class="small-divider left">
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1"><i class="fas fa-phone margin-icon "></i>28082700</li>
                     <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:email@yoursite.com">unitedpets@gmail.com</a></li>
                     <li><i class="fas fa-map-marker margin-icon"></i>ESPRIT,Ariana soghra.Tunis </li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>Working Hours</h5>
                  <!--divider -->
                  <hr class="small-divider left">
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1">Open from 9am - 6pm</li>
                     <li class="mb-1">Holidays - Closed</li>
                     <li>Weekends - Closed</li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <hr>
            <div class="row">
               <div class="credits col-sm-12">
                  <p></p>
               </div>
            </div>
            <!--/col-lg-12-->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <!--/ footer-->
      <!-- Bootstrap core & Jquery -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Custom Js -->
      <script src="js/custom.js"></script>
      <script src="js/plugins.js"></script>
      <!-- Prefix free -->
      <script src="js/prefixfree.min.js"></script>
	   <!-- Bootstrap Select Tool (For Module #4) -->
<script src="switcher/js/bootstrap-select.js"></script>
<!-- All Scripts & Plugins -->
<script src="switcher/js/dmss.js"></script>
<script src="switcher/js/fixes.js"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7ZJPV8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	  <!-- number counter script -->
      <script src="js/counter.js"></script>
      <!-- maps -->
      <script src="js/map.js"></script>
      <!-- GreenSock -->
      <script src="vendor/layerslider/js/greensock.js"></script>
      <!-- LayerSlider script files -->
      <script src="vendor/layerslider/js/layerslider.transitions.js"></script>
      <script src="vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
      <script src="vendor/layerslider/js/layerslider.load.js"></script>
   </body>

<!-- Mirrored from www.ingridkuhn.com/themes/unitedpetsbs5/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Jan 2024 14:07:04 GMT -->
<style>
  .battouna {
   
    margin-top: 8px;
    
    }
</style>


</html>